<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center min-vh-100 text-center">
        <div class="col-xl-12 align-items-center">
            <div class="fw-bold text-white nama-pasangan">Aether & Ayaka</div>
            <div class="text-white dear">Dear</div>
            <div class="fw-bold text-white undangan">Tamu</div>
            <button class="btn btn-primary fw-bold text-uppercase" (click)="buttonClick()">open invitaion</button>
        </div>
    </div>
</div>